<div class="s-testimonials">

    <div class="overlay"></div>

    <div class="row testimonials-header">
        <div class="col-full">
            <h1 class="h02">Diğerlerinin Düşünceleri!</h1>
        </div>
    </div>

    <div class="row testimonials">

        <div class="col-full testimonials__slider">

            <div class="testimonials__slide">
                <img src="https://media.licdn.com/dms/image/v2/C4D03AQHWjlx3AEL5Sg/profile-displayphoto-shrink_800_800/profile-displayphoto-shrink_800_800/0/1538432487689?e=1750896000&v=beta&t=U8q-E3zlio8jzei7LRvg6sNZ1gyukULke-_k_iu7zSs" alt="Author image" class="testimonials__avatar">
                <p>
                    Gelecek görüyorum. Eline Sağlık!
                </p>
                <div class="testimonials__author h06">
                    Gökhan Mutluay
                    <span>CEO, AcunmedyaAkademi</span>
                </div>
            </div>

            <div class="testimonials__slide">
                <img src="https://media.licdn.com/dms/image/v2/C4E03AQGK4P-q12qiHw/profile-displayphoto-shrink_800_800/profile-displayphoto-shrink_800_800/0/1635488584670?e=1750896000&v=beta&t=fm50AjIzIXyyYSXx6zXecwVq9YskOOFujPQr7BPTzcs" alt="Author image" class="testimonials__avatar">
                <p>
                    Çok iyi ilerliyorsun, hiç pes etmeden devam et başaracaksın.
                </p>
                <div class="testimonials__author h06">
                    Murat Yücedağ
                    <span>CEO, M&Y Yazılım</span>
                </div>
            </div>

        </div> <!-- end testimonials__slider -->

    </div> <!-- end testimonials -->

</div>