<section id="stats" class="s-stats">
    <div class="row block-1-4 block-tab-1-2 block-mob-full stats">

        <div class="col-block stats__col ">
            <div class="stats__count">
                5
            </div>
            <h4>Yıllık Tecrübe</h4>
        </div>
        <div class="col-block stats__col">
            <div class="stats__count">
                7
            </div>
            <h4>İş Deneyimi</h4>
        </div>
        <div class="col-block stats__col stats__col--highlight">
            <div class="stats__upsign">
                <a href="#"><i class="im im-arrow-up" aria-hidden="true"></i></a>
            </div>
            <div class="stats__count">
                15
            </div>
            <h4>Geliştirilen Proje</h4>
        </div>
        <div class="col-block stats__col">
            <div class="stats__count">
                30
            </div>
            <h4>Memnun Referans</h4>
        </div>

    </div>
</section>