
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
@await Component.InvokeAsync("_LayoutHeadComponentPartial")

<body>
	<div class="wrapper">
		@await Component.InvokeAsync("_LayoutNavbarComponentPartial")
		@await Component.InvokeAsync("_LayoutSidebarComponentPartial")

		
		<div class="main-panel">
		@RenderBody()
		<footer class="footer">
			<div class="container-fluid">

				<div class="copyright ml-auto">
					2025, made with <i class="la la-heart heart text-danger"></i> by <a href="http://www.themekita.com">Emirhan Berber</a>
				</div>
			</div>
		</footer>
	</div>
	</div>
	</div>

</body>
@await Component.InvokeAsync("_LayoutScriptComponentPartial")
</html>
